<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26633764384-r0rabud44jtonnf0mv65qa7c5g7esou9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26633764384-r0rabud44jtonnf0mv65qa7c5g7esou9</string>
	<key>API_KEY</key>
	<string>AIzaSyAm8Ogq8OuHR0qqNrOpkmpS8WwQ3Yifyn4</string>
	<key>GCM_SENDER_ID</key>
	<string>26633764384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SET.Smart-Expence-Tracker</string>
	<key>PROJECT_ID</key>
	<string>rm-set</string>
	<key>STORAGE_BUCKET</key>
	<string>rm-set.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26633764384:ios:1e17f22e70a6f9a14f0645</string>
</dict>
</plist>